<form class="form" (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <label for="">Title</label>
    <input id="title" name="title" class="form-control" type="text" #title [(ngModel)]="bookModel.title">

    <label for="">Author</label>
    <input class="form-control" name="author" id="author" type="text" #author [(ngModel)]="bookModel.author">

    <label for="">Year</label>
    <input type="number" class="form-control" name="year" id="year" #year [(ngModel)]="bookModel.year">
    <br>
    <button *ngIf="bookModel.id === undefined" type="submit" class="btn btn-warning">Add Book</button>
</form>
<button *ngIf="bookModel.id != undefined " class="btn btn-success">Edit Book</button>
